<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weathericon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/ben.jpg">
        <p>Created by {{ name }}</p>
    </div>
    {{>footer}}
</body>
</html>