<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weathericon.png">
</head>

<body>
        <div class="main-content">
            {{>header}}
            <p>You enter a place in the search bar and get the weather.  Pretty simple...</p>
        </div>
        {{>footer}}
</body>
</html>